.due-date p:first-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
    margin:0;
}

.due-date p:last-child {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #1d1919;
    margin:0;
}