.card-wrapper {
    width:248px;
    height: 178px;
    background: #ffffff;
    border: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}