.card-wrapper {
    width:250px;
    height: 182px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    MARGIN:20PX;
    display: grid;
    grid-template-rows: max-content auto max-content;
    gap:15px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header p {
    margin: 0;
    font-size: 12px;
    line-height: 17px;
    color: #b9b9b9;
    font-weight: 700;
}

.card-content {
    text-align: left;
}

.card-content p{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #161414;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} 
.card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

