body {
  margin: 0;
  font-family: "Sen",  sans-serif;
  box-sizing: border-box;
}

.app-container {
  background-color: #f3f3fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
