body {
  margin: 0;
  font-family: "Sen",  sans-serif;
  box-sizing: border-box;
}

.input-primary{
  border-radius: 5px;
  padding: 8px;
}
.app-container {
  background-color: #f3f3fb;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.side-bar-right {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.side-bar-right h3 {
  width:100%
}
